<% provide(:title, "Contact") %>

<body><h1>Contact</h1>
</body>
   
<%= link_to "Home",  :controllers => :static_pages_controller, :action => :home %>
<%= link_to "Help",  :controllers => :static_pages_controller, :action => :help %>
<%= link_to "About",  :controllers => :static_pages_controller, :action => :about %>
