<% provide(:title, "Help") %>

<body><h1>Help</h1>
<p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org/#help"> Rails Tutorial help section</a>
    To get help on this sample app, see the
    <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial book</em></a>

<%= link_to "Home",  :controllers => :static_pages_controller, :action => :home %>
<%= link_to "Contact",  :controllers => :static_pages_controller, :action => :contact %>
<%= link_to "About",  :controllers => :static_pages_controller, :action => :about %>

</p>
